# Logs & diagnostics
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage & testing
lib-cov
coverage/
*.lcov
.nyc_output/
.vscode-test

# Package managers & dependencies
node_modules/
jspm_packages/
bower_components/
web_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn-integrity

# Tool caches & temp files
.cache/
.parcel-cache
.temp/
.grunt
.serverless/
.fusebox/
.dynamodb/
.firebase/
.wrangler/
.tern-port
.npm
.eslintcache
.stylelintcache
.node_repl_history
*.tsbuildinfo
.lock-wscript
*.tgz

# Build outputs
build/Release
build/
dist/
out/
.next/
.nuxt/
.svelte-kit/
.output/
**/.vitepress/dist
**/.vitepress/cache
.vuepress/dist
.docusaurus

# Framework and tooling snapshots
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Environment variables
.env
.env.*
!.env.example

# OS & editor junk
.DS_Store

# React Router artifacts
.react-router/
**/.react-router/
